*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: "plain light";
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#crsr{
    height: 2.8vw;
    width: 2.8vw;
    border: 1px solid #ffffffa2;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
    position: fixed;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 1.2vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}
#line1-part1 h5{
    margin-left: 3.5vw;
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 6.5vw;
    height: 16vh;
    font-weight: 500;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    margin-left: -1vw;
}
@keyframes anime{
    0%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
    48%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    50%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
}
#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    background-color: #151515;
    width: 100%;
}
#page1 #nav{
    padding: 2.3vw 5.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}
#nav-part2 h4{
    font-weight: 500;
    font-size: 15px;
}
.page1center{
    width: 72%;
    height: fit-content;
    margin-left: 28%;
    overflow: hidden;
    position: relative;
}
.page1center:nth-child(2){
    margin-top: 19vh;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 5.5vw;
    margin-left: 7.5%;
}
.page1center h1{
    font-size: 7.2vw;
    line-height: 7.4vw;
    font-weight: 600;
}
.page1center h5{
    font-size: 3vw;
    font-family: silk serif;
    font-weight: 500;
}

#underline{
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.page1center h2 {
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    margin-right: 1vw;
}

.page1center h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}


#page2{
    height: 100vh;
    background-color: #151515;
    width: 100%;
    padding-top: 17vh;
}

#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-cursor{
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    top: -10%;
    left: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#video-cursor i{
    font-size: 2.5vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #5a5656;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
    position: relative;
    padding-top: 5vh;
}

#page4-content>h1{
    text-transform: uppercase;
    font-size: 7.2vw;
    font-weight: 600;
    margin-bottom: 9vh;
    position: relative;
}
#page4-content>h1::before{
    content: "03";
    font-size: 3.2vw;
    font-weight: 500;
    font-family: silk serif;
    position: absolute;
    left: -13%;
}

#page4-content .underline1{
    height: 1px;
    width: 91%;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p{
    width: 50%;
    font-size: 2.3vw;
    margin-bottom: 9vh;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    object-fit: cover;
    width: 48%;
    height: 85%;
}

#page4-flex>p{
    font-size: 1vw;
    width: 25%;
    line-height: 1.5vw;
    margin-left: 2vw;
}

#page4-bluediv{
    width: 45%;
    height: 48%;
    background-color: #3F7DF4;
    position: relative;
    margin-left: 33%;
    margin-top: -20.5%;
    padding: 3vw 3.5vw;
}

#page4-bluediv .bluediv{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 2px solid #ffffff5d;
    padding-top: 2.2vw;
    padding-bottom: 2.5vw;
}

#page4-bluediv .bluediv h1{
    font-size: 1.5vw;
    font-weight: 500;
    width: 60%;
}

#page4-bluediv .bluediv p{
    width: 45%;
    font-size: 1vw;
}

#page4-content>h6{
    margin-top: -3vw;
    font-size: 1vw;
    font-weight: 500;
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

/* Hardikk — 02/07/2024 1:58 PM
Min height de kr 1 he page me 2 page rakh do or relative dedo parent ko

Or jo 2 children he jinhe scroll pr 1 ke uper 1 krna he unhe sticky krdo or top 0 de dena */