@font-face {
    font-family: "silk serif";
    src: url(C:\Users\91626\Desktop\ObysAgency-Clone\allfonts\silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(C:\Users\91626\Desktop\ObysAgency-Clone\allfonts\silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(C:\Users\91626\Desktop\ObysAgency-Clone\allfonts\plain-light-webfont.ttf);
}

@font-face {
    font-family: "Plain Light";
    src: url(C:\Users\91626\Desktop\ObysAgency-Clone\allfonts\plain-regular-webfont.ttf);
}


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: whitesmoke;
    font-family: "plain light";
}
html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#crsr{
    height: 2.8vw;
    width: 2.8vw;
    border: 1px solid #ffffffa2;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    mix-blend-mode: difference;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    pointer-events: none;
}

#loader{
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
    position: fixed;
}
.line{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 gap: 1.2vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}
#line1-part1 h5{
    margin-left: 3.5vw;
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 6.5vw;
    height: 16vh;
    font-weight: 500;
    -webkit-animation-name: anime;
            animation-name: anime;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    margin-left: -1vw;
}
@-webkit-keyframes anime{
    0%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
    48%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    50%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
}
@keyframes anime{
    0%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
    48%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    50%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    100%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
}
#main{
    position: relative;
    background-color: #151515;
}
#page1{
    min-height: 125vh;
    background-color: #151515;
    width: 100%;
}
#page1 #nav{
    padding: 2.3vw 5.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5vw;
}
#nav-part2 h4{
    font-weight: 500;
    font-size: 15px;
}
.page1center{
    width: 72%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 28%;
    overflow: hidden;
    position: relative;
}
.page1center:nth-child(2){
    margin-top: 19vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5.5vw;
    margin-left: 7.5%;
}
.page1center h1{
    font-size: 7.2vw;
    line-height: 7.4vw;
    font-weight: 600;
    position: relative;
}

#page1c h1{
    margin-left: 8vw;
}
#page1c h1::before{    
    content: "01";
    font-size: 3.2vw;
    font-weight: 500;
    font-family: silk serif;
    position: absolute;
    left: -23%;
    top: -19%;
}

#underline{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
}
.page1center h2 {
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    margin-right: 1vw;
}

.page1center h2:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}


#page2{
    height: 100vh;
    background-color: #151515;
    width: 100%;
    padding-top: 8vh;
}

#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg") ;
    background-position: center ;
    background-size: cover ;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#video-container video{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
}

#video-cursor{
    background-color: #FFA63D;
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    top: -10%;
    left: 69%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#video-cursor i{
    font-size: 2.5vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 17vh 2vw;
    margin-bottom: 60vh;
}

#page3top{
    width: 72vw;
    margin-left: 28%;
    position: relative;
    padding: 7vh 0;
}

#page3top>h1{
    text-transform: uppercase;
    font-size: 7.2vw;
    font-weight: 600;
    margin-bottom: 9vh;
    position: relative;
}

#page3top>h1::before{
    content: "02";
    font-size: 3.2vw;
    font-weight: 500;
    font-family: silk serif;
    position: absolute;
    left: -13%;
}

#page3-imagediv{
    padding: 1vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.img-div{
    height: 38vw;
    width: 30vw;
    background-color: #3F7DF4;
    position: relative;
    overflow: hidden;
    margin: 2vw;
    -ms-flex-negative:0 ;
        flex-shrink:0 ;
}

.img-div:nth-child(1){
    height: 30vw;
    width: 22vw;
    margin-bottom: 10vw;
}

.img-div img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.page3-circle1{
    height: 23vw;
    width: 23vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: -2vw;
    margin-left: 9.5vw;
    position: relative;
}

.page3-circle1 svg{
    height: 35%;
}

.circle-in{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    scale: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.circle-in>p{
    font-size: 0.95vw;
    width: 60%;
    color: #000;
    scale: 0;
    opacity: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s ;
         -o-transition-delay: 0.3s ;
            transition-delay: 0.3s ;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover .circle-in>p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover .circle-in>p{
    scale: 1;
    opacity: 1;
    rotate: 45deg;
}

.page3-circle3:hover .circle-in{
    scale: 1;
}

.page3-circle3:hover .circle-in>p{
    scale: 1;
    opacity: 1;
    rotate: 90deg;
}

.page3-circle2{
    height: 23vw;
    width: 23vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    rotate: -45deg;
    margin-bottom: 15vw;
}

.page3-circle2 svg{
    height: 35%;
}

.page3-circle3{
    height: 23vw;
    width: 23vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    rotate: -90deg;
}

.page3-circle3 svg{
    height: 35%;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
    position: relative;
    padding: 7vh 0;
}

#page4-content>h1{
    text-transform: uppercase;
    font-size: 7.2vw;
    font-weight: 600;
    margin-bottom: 9vh;
    position: relative;
}
#page4-content>h1::before{
    content: "03";
    font-size: 3.2vw;
    font-weight: 500;
    font-family: silk serif;
    position: absolute;
    left: -13%;
}

.underline1{
    height: 1px;
    width: 91%;
    background-color: #fff;
    margin: 5vw 0;
}

#page4-content>p{
    width: 50%;
    font-size: 2.3vw;
    margin-bottom: 9vh;
}

#page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page4-flex img{
    -o-object-fit: cover;
       object-fit: cover;
    width: 48%;
    height: 85%;
}

#page4-flex>p{
    font-size: 1vw;
    width: 25%;
    line-height: 1.5vw;
    margin-left: 2vw;
}

#page4-bluediv{
    width: 45%;
    height: 48%;
    background-color: #3F7DF4;
    position: relative;
    margin-left: 33%;
    margin-top: -20.5%;
    padding: 3vw 3.5vw;
}

#page4-bluediv .bluediv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #ffffff5d;
    padding-top: 2.2vw;
    padding-bottom: 2.5vw;
}

#page4-bluediv .bluediv h1{
    font-size: 1.5vw;
    font-weight: 500;
    width: 60%;
}

#page4-bluediv .bluediv p{
    width: 45%;
    font-size: 1vw;
}

#page4-content>h6{
    margin-top: -3vw;
    font-size: 1vw;
    font-weight: 500;
}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 5vw 0;
    margin-bottom: 8vw;
}

.elem{
    white-space: nowrap;
    overflow-x: hidden;
    line-height: 6vw;
}

.elem h1{
 font-size: 7.2vw;
 -webkit-text-stroke: 1px #fff;
 color: transparent;
 font-weight: 500;
 text-transform: uppercase;
 display: inline-block;
 margin-right: 16px;
 -webkit-animation-name: animemove;
         animation-name: animemove;
 -webkit-animation-duration: 25s;
         animation-duration: 25s;
 -webkit-animation-timing-function: linear;
         animation-timing-function: linear;
 -webkit-animation-iteration-count: infinite;
         animation-iteration-count: infinite;
}

.elem span{
    font-family: silk serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}

@-webkit-keyframes animemove{
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes animemove{
    from{
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    white-space: nowrap;
    overflow-x: hidden;
    line-height: 6vw;
}

.elem2 h1{
    font-size: 7.2vw;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    -webkit-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
    -webkit-animation-name: animemove;
            animation-name: animemove;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    animation-direction: reverse;
   }

   .elem2 span{
    font-family: silk serif;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
}

#footer{
    min-height: 100vh;
    width: 72%;
    background-color: #151515;
    position: relative;  
    margin-left: 28%;
    padding: 2vw 0;
}
#footer-text>h1{
    font-size: 7.2vw;
    margin-bottom:5vw ;
    position: relative;
}

#footer>svg{
    position: absolute;
    left: 52vw;
    top: 4vw;
    width: 10%;
}

#footer-text {
    position: relative;
}

#footer-text h2 {
    font-size: 7.2vw;
    position: absolute;
    top: -10%;
    font-weight: 500;
    left: 0;
    font-family: "silk serif";
}

#footer-text h2 span {
    font-family: "silk serif";
    opacity: 0;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer #footer-text>h1::before{
    content: "04";
    font-size: 3.2vw;
    font-weight: 500;
    font-family: silk serif;
    position: absolute;
    left: -13%;
}

#footercontent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 70%;
    height: 100%;
    margin-top: 8vw ;
    margin-bottom: 8vw;
   
}

#footercontent .box{
    width: 20%;
    margin-right: -4vw;

}
#footercontent .box>h5{
    font-size: 1vw;
    font-weight: 600;
}
#footercontent .box>h2{
    font-weight: 500;
    margin-top: 2vw;
    font-size: 1.7vw;
    line-height: 1.8vw;
}
#footercontent .box:nth-child(2){
    width: 30%;
}

#footer>h5{
    margin-top: -2.5vw;
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 6vw;
}

#flag{
 height: 25vw;
 position: absolute;
 top: 0;
 left: 0;
 -webkit-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
 opacity: 0;
}

#underline{
    z-index: 9;
    position: relative;
}

@media (max-width:600px) {

    #loader{
        padding: 37vh 7vw;
    }

    .line{
        gap: 0vw;
        margin-left: -3%;
    }

    #line1-part1{
        gap: 3vw;
       }  

    #line1-part1 h5,#line1-part1 h6{
        position: absolute;
        left: 13%;
        top: 31%;
        font-size: 5vw;
    }
    
    #line1-part1 h5{
        margin-left: 0vw;
        width: 5vw;
        left: 5%;
        top: 31%;
    }

    .line h1{
        font-size: 7.7vw;
    }

    .line h2{
        font-size: 7.2vw;
        height: 5vh;
        margin-left: 2vw; 
    }

    #crsr{
        display: none;
    }
    

    #main{
        overflow-x: hidden;
    }
    #page1{
        min-height: 100vh;
        margin-bottom: 12vh;
    }
    #page1 #nav{
        padding: 5.5vw 5.5vw;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    #nav>svg{
        width: 16vw;
    }

    #nav-part2{
        display: none;
    }
    .page1center{
        width: 100%;
        margin-left: 6%;
    }
    .page1center:nth-child(2){
        margin-top: 10vh;
        margin-left: 5.9%;
        padding-top: 12vw;
    }
    .page1center h1{
        font-size: 9.7vw;
        line-height: 9.9vw;
    }
    
    #page1c h1{
        margin-left: -47%;
    }
    #page1c h1::before{    
        font-size: 4.5vw;
        left: 0%;
        top: -110%;
    }
    
    .page1center h2 {
        font-size: 9.7vw;
        line-height: 9.9vw;
        border-bottom: 1vw solid #fff;
        margin-right: 0vw;
    }
    
    #page2{
        padding-top: 0vh;
        margin-top: -32vh;
    }
    
    #video-container{
        height: 45vh;
        width: 100vw;
        left: 0%;
        scale: 1.1;
    }
    #video-cursor{
        height: 23vw;
        width: 23vw;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
    #video-cursor i{
        font-size: 5vw;
    }
    
    #page3{
        min-height: 100vh;
        width: 100%;
        padding: 0vh 6vw;
        margin-bottom: 110vh;
        margin-top: -29vh;
    }
    
    #page3top{
        width: 100vw;
        margin-left: 0%;
        padding: 7vh 0;
    }
    
    #page3top>h1{
        font-size: 9.7vw;
        margin-bottom: 4vh;
    }
    
    #page3top>h1::before{
        font-size: 4.5vw;
        left: 0%;
        top: -65%;
    }
    
    #page3-imagediv{
        padding: 1vw;
        position: relative;
        display: inline;
    }

    .img-div{
        height: 95vw;
        width: 88vw;
        margin: 0vw;
        margin-bottom: 25vw;
    }

    .img-div:nth-child(1){
        height: 95vw;
        width: 88vw;
        margin: 0vw;
        margin-bottom: 25vw;
    }

    .page3-circle1{
        display: none;
    }

    .page3-circle2{
        display: none;
    }

    .page3-circle3{
        display: none;
    }
    
    #page4{
        min-height: 100vh;
        width: 100%;
        padding: 0vh 6vw;
        margin-bottom: 90vh;
        margin-top: -45vh;
    }
    
    #page4-content{
        width: 100vw;
        margin-left: 0%;
        padding: 7vh 0;
    }
    
    #page4-content>h1{
        font-size: 9.7vw;
        margin-bottom: 4vh;
    }
    #page4-content>h1::before{
        font-size: 4.5vw;
        left: 0%;
        top: -65%;
    }
    
    .underline1{
        height: 1px;
        width: 89%;
        background-color: #fff;
        margin: 5vw 0;
    }
    
    #page4-content>p{
        margin-top:15vw;
        width: 95%;
        font-size: 5.9vw;
        margin-bottom: 39vh;
    }
    
       #page4-flex{
        display:inline;
        position: relative;
    }


    #page4-flex>p{
        position: absolute;
        top: -179vw;
        left: -2%;
        font-size: 3.7vw;
        width: 80%;
        line-height: 5.5vw;
        margin-left: 2vw;
    }

    #page4-flex img{
        width: 89%;
        height: 85%;
        margin-bottom: 11.5%;
    }


#page4-bluediv{
    width: 89%;
    height: 100%;
    margin-left: 0%;
    margin-top: -20.5%;
    padding: 5vw 5.5vw;
    padding-bottom: 12vw;
    margin-bottom: 22vw;
}

#page4-bluediv .bluediv{
    padding-top: 6.2vw;
    padding-bottom: 6.5vw;
}

#page4-bluediv .bluediv h1{
    font-size: 4vw;
    width: 40%;
}


#page4-bluediv .bluediv p{
    width: 55%;
    font-size: 4vw;
}

#page4-content>h6{
    margin-top: 7vw;
    font-size: 3.5vw;
}


#page5{
    padding: 5vw 0;
    margin-bottom: -70vw;
    margin-top: -113vw;
}

.elem{
    line-height: 10vw;
}

.elem h1{
 font-size: 10.7vw;
 -webkit-animation-duration: 30s;
         animation-duration: 30s;
}


.elem2{
    line-height: 10vw;
}

.elem2 h1{
    font-size: 10.7vw;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
   }

    #footer{
    min-height: 100vh;
    width: 100%; 
    margin-left: 5%;
    padding: 2vw 0;
    }

    #footer-text>h1{
        font-size: 9.7vw;
        margin-bottom: 4vh;
        position: relative;
    }

    #footer-text>h2{
        display: none;
    }
    
    #footer>svg{
        left: 66vw;
        top: 4.7vw;
        width: 8%;
    }

    
    #footer #footer-text>h1::before{
        font-size: 4.5vw;
        left: 0%;
        top: -65%;
    }
    
    #footercontent{
        display: inline;
    }
    
    #footercontent .box{
        margin-right: -4vw;
        margin-top: 15vw;
    }
    #footercontent .box>h5{
        font-size: 4vw;
    }
    #footercontent .box>h2{
        margin-top:5vw;
        font-size: 6vw;
        margin-bottom: 9vh;
        line-height: 6.2vw;
    }
    #footercontent .box:nth-child(2){
        width: 60%;
    }

    #footer>h5{
        margin-top: 11vw;
        font-size: 4.3vw;
        font-weight: 500;
        margin-bottom: 7vw;
    }
    
    #flag{
     display:none;
    }

}